<!DOCTYPE html>
<html>
  <head>
    <script type="text/javascript" src="../dist/build/views/reference-form/bundle.js"></script>
  </head>
  <body style="width: 300px;">
    <form action="" method="post">
      <input type="hidden" id="doi" name="doi">

      <div>
        Title: <span id="title" name="title"></span>
      </div>

      <br>

      <div>
	    <label for="lists">Lists:</label>
      	<select id="lists" name="lists" multiple>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
      	</select>
      </div>

      <br>

      <div>
      	<label for="notes">Notes:</label>
	    <textarea id="notes" name="notes"></textarea>
      </div>

      <br>

      <input type="submit" value="Save">
    </form>
  </body>
</html>
